/* ================= RESET ================= */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background:#000;
    color:#fff;
    line-height:1.6;
}

a{
    text-decoration:none;
    color:inherit;
}

img{
    max-width:100%;
    display:block;
}

/* ================= HEADER ================= */
header{
    position:fixed;
    top:0;
    width:100%;
    height:70px;
    background:#fff;
    z-index:1000;
}

.barre{
    height:6px;
    background:#ffb700;
}

nav{
    height:64px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 40px;
    color:#000;
}

nav ul{
    list-style:none;
    display:flex;
    gap:20px;
}

nav img{
    height: 70%;
}
.invisible{
    display: none;
}


/* ================= DON ================= */
.donne{
    position:fixed;
    right:15px;
    bottom:80px;
    width:70px;
    height:70px;
    border-radius:50%;
    background:#ffb700;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor:pointer;
    transition:0.3s ease;
}

.donne img{
    width:40px;
}

.donne:hover{
    width:220px;
    height:auto;
    padding:15px;
    border-radius:20px;
    background:#111;
    box-shadow:0 10px 30px rgba(255,183,0,.5);
}

.donne p,
.donne form{
    display:none;
}

.donne:hover p,
.donne:hover form{
    display:block;
    color:#fff;
    font-size:14px;
}

.donne input{
    width:100%;
    padding:8px;
    border:none;
    margin-top:8px;
}

/* ================= MAIN ================= */
main{
    margin-top:90px;
    padding:20px 80px;
    display:flex;
    flex-direction:column;
    gap:80px;
}

/* ================= BANNIERE ================= */
.banniere{
    display:flex;
    align-items:center;
    gap:40px;
}

.banniere .gauche{
    flex:1;
}

.banniere h1{
    font-size:60px;
    color:#ffb700;
}

.banniere h2{
    font-size: 25px;
}

.banniere p{
    font-size:20px;
    max-width:650px;
    text-align: justify;
}

.banniere .droite{
    flex:0.8;
}

/* ================= A PROPOS ================= */
.apropos{
    display:flex;
    align-items: center;
    gap: 20px;
    
}

.apropos .droite{
    width: 50%;

}
.apropos .droite img{ 


}
.apropos .gauche{
    width: 50%;  
}
.apropos h1{
    color:#ffb700;
    font-size:40px;
}
.apropos .gauche p{
    font-size: 20px;
    text-align: justify;
}


/* ================= SERVICES ================= */

.services{
    background:#ffb700;
    color:#000;
    padding:60px;
}
.services .conteneur{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}
.services h1{
    font-size:40px;
    margin-bottom:30px;
}
.service{
    background:#fff;
    padding:25px;
    border-radius:12px;
    box-shadow:0 8px 25px rgba(0, 0, 0, 0.36);
    width: 300px;
}
.service img{
    height: 45px;
    width: 45px;
}
.service p{
    text-align: justify;
    font-size: 10px;
}

/* ================= TEMOIGNAGE ================= */
.experience h1{
    color:#ffb700;
    font-size:40px;
    margin-bottom:30px;
}

.experience .conteneur{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:20px;
}

.exp{
    background:#ffffff;
    color:#000;
    padding:25px;
    border-radius:12px;
}
.exp span{
    color:#ffb700;

}
/* ================= CONTACT ================= */

.competences h1{
    color:#ffb700;
    font-size:40px;
    margin-bottom:20px;
}

.competences ul{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:15px;
}

.competences li{
    background:#111;
    padding:15px;
    border-radius:10px;
    text-align:center;
}
/* ================= CONTACT ================= */
.outils h1{
    color:#ffb700;
    font-size:40px;
    margin-bottom:20px;
}
.outils p{
    font-size: 20px;
}
/* ================= CONTACT ================= */
.contact{
    background:#ffb700;
    color:#000;
    padding:60px;
    display: flex;
    justify-content: space-between;
    gap:20px;
}
.contact form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}
.contact input,
.contact textarea{
    width:100%;
    padding:12px;
    border:none;
}
.contact .gauche{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact button{
    padding:15px;
    background:#000;
    color:#fff;
    border:none;
    cursor:pointer;
}

/* ================= FOOTER ================= */
footer{
    text-align:center;
    padding:30px;
}

/* ================= RESPONSIVE ================= */
@media(max-width:900px){

    .invisible{
    text-decoration: none;
    gap: 20px;
    list-style: none;
    display: flex;
    color: #ffb700;

    }
    .invisible i{
        color: #ffb700;
        height: 50px;
    }
    nav ul{
        display: none;
    }

    main{
        padding:20px;
    }
    .apropos .gauche{
        width: 100%;  
    }
    .apropos .droite{
        width: 100%;  
    }
    .service{
        width: 100%;
    }
    .services{
        padding: 20px;
    }
    .competences{
        padding: 20px;
    }
    .banniere,
    .apropos,
    .contact{
        flex-direction:column;
        grid-template-columns:1fr;
    }
    .contact {
       padding: 20px;
    }
    .contact form{
       width: 100%;
    }

    nav ul{
        display:none;
    }
}
